<section>
  <div class="users-wrapper">

    <div class="report-inner">
      <h1>
        {{title}}
      </h1>
      <fusioncharts
          [id]="id"
          [width]="width"
          [height]="height"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource"
      ></fusioncharts>
    </div>

    <div class="report-extra">
      <hr>
      <h4>A more useful report on Users</h4>
      <p>A method on the service...</p>
      <pre>appService.getStreamsPerUserByCountry();</pre>
      <p>...could make a call to an API endpoint...</p>
      <pre>https://api.umg.com/get/streamsPerUserByCountry</pre>
      <p>...that queries the data as needed...</p>
      <pre style="text-align: left;">
SELECT country, (SUM(streams) / SUM(users)) as avg_streams
FROM user_streams
GROUP BY country
ORDER BY avg_streams DESC;</pre>
      <p>...to return the average streams per user for each country.</p>
    </div>

  </div>
</section>