<section>
  <div class="nav-wrapper">
    <ul class="nav-list">
      <li class="nav-logo">
        <img src="http://vignette2.wikia.nocookie.net/fastandfurious/images/f/fc/Universal_Logo.png" />
      </li>
      <a routerLink="/streams">
        <li>Streams</li>
      </a>
      <a routerLink="/users">
        <li>Users</li>
      </a>
      <a routerLink="/revenue">
        <li>Revenue</li>
      </a>
      <a routerLink="/thoughts">
        <li>Thoughts...</li>
      </a>
    </ul>
  </div>
</section>